<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingServlet1</servlet-name>
        <servlet-class>controller.TestingServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingServlet2</servlet-name>
        <servlet-class>controller.TestingServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingServlet3</servlet-name>
        <servlet-class>controller.TestingServlet3</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
        <init-param>
            <param-name>postcode</param-name>
            <param-value>084</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingServlet1</servlet-name>
        <url-pattern>/TestingServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingServlet2</servlet-name>
        <url-pattern>/TestingServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingServlet3</servlet-name>
        <url-pattern>/TestingServlet3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>NullPotinterException</exception-type>
        <location>/error.html</location>
    </error-page>
</web-app>
